


.cards {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: centered;

  margin: 0 auto;




}

.card {
    flex: 0 1 calc(25% - 1em);
    box-sizing: border-box;
    margin: 1rem .25em;
    background-color: #ccc;
    height: 100px;
}

/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 575px) {

.cards {

    background-color: red;
}



 }


/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .cards {

  }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .cards {

      background-color: yellow;
  }


}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .cards {

      background-color: purple;
  }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

  .cards {

      background-color: green;
  }


 }
