.deck {
  display: flex;
  flex-wrap: wrap;

}

.card {
height: 125px;
width: 125px;
background: #2e3d49;
margin: 10px;
}



/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 575px) {
.deck {
   background-color: pink !important;
   width: 300px;
 min-height: 520px;
   margin: 0 auto;
}
.card {
height: 55px;
width: 55px;
align-items: center; 


 }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
.deck {
   background-color: red !important;
   width: 500px;
 min-height: 520px;
   margin: 0 auto;
}
.card {
height: 100px;
width: 100px;
align-items: center; 

 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .deck {
      background-color: lightblue !important;
      width: 660px;
    min-height: 680px;
      margin: 0 auto;
  }

  .card {
  height: 125px;
  width: 125px;
  align-items: center; 
}

}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
.deck {
  background-color: purple !important;
  width: 660px;
min-height: 680px;
  margin: 0 auto;
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
.deck {
  background-color: yellow !important;
  width: 660px;
min-height: 680px;
  margin: 0 auto;
}



 }
